{
  email {$CONTACT_EMAIL}
}
{$DOMAIN} {
  encode zstd gzip
  reverse_proxy meme-lab:8787 {
    flush_interval -1
  }
  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options nosniff
    Referrer-Policy same-origin
  }
}
